.wetherBG{
  background: url("https://www.accuweather.com/images/hero/4/1440x450.jpg");
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.heading{
  color: white;
  font-weight: 700;
}
.wetherResultBox{
  margin: auto;
  width: 500px;
  height: 300px;
}
.wheaterIcon{
  margin-top: 2rem;
  height: 100px;
  width: 100px;
}
.wetherCity{
  font-size: 35px;
}
.wetherTemp{
  font-size: 45px;
}



/* Responsive styles for screens smaller than or equal to 768px */
@media (max-width: 768px) {
  .wetherResultBox {
    width: 90%;
    height: auto;
    max-width: 500px;
    padding: 1rem;
  }

  .wheaterIcon {
    height: 80px;
    width: 80px;
  }

  .wetherCity {
    font-size: 28px;
  }

  .wetherTemp {
    font-size: 35px;
  }
}

/* Responsive styles for screens smaller than or equal to 576px */
@media (max-width: 576px) {
  .wetherCity {
    font-size: 24px;
  }

  .wetherTemp {
    font-size: 28px;
  }
}